<ion-header #header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" scrollEvents="true" [appFadeHeader]="toolbar"> -->
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="toolbar">
  <img src="../../assets/pexels3.jpg" class="default-img" />

  <ion-card *ngFor="let item of [].constructor(20); let i = index">
    <ion-card-header>
      <ion-card-title>{{ i }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<!-- 
<ion-header>

</ion-header>

<ion-content>
  <h1 appGoWild>
    Hello World!
  </h1>
  <h1 class="wild">Hello World!</h1>

  <article>
    <div>Hello world!</div>
  </article>

</ion-content> -->